p, h5{
    margin: 0;
}
body{
    background: #f7f7f7;
}
#inbox{
    border: 1px solid #e7e7e7;
    margin: 20px;
    background: #fff;
}
.rb{
    border-right: 1px solid #e7e7e7;
}
.nm{
    margin: 0 !important;
}
.btn-sort-message{
    padding: 5px !important;
    background: transparent !important;
    font-size: 14px;
}
.transparent {
    background: transparent;
    border: none;
}
a.dropdown-item {
    font-size: 13px;
    padding: 5px;
}
.search-bar {
    display: flex;
    justify-content: space-between;
}
header#message-sort {
    padding: 15px 10px;
    border-bottom: 1px solid #e7e7e7;
}
.contact{
    background-color: #fff;
    color: #000;
    height: 80px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom: 1px solid #e3e3e3;
    display: flex;
    justify-content: space-between;
    opacity: 1;
    box-shadow: none;
    transition: opacity .2s,transform .5s,width .2s;
    padding: 15px;
    width: 100%;
}
.active{
    background-color: #e5f8e6;
}
.aside-chat{
    padding: 0 0 50px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    transform: translateZ(0);
}
.contact-container{
    display: flex;
    flex-flow: column;
    height: 100%;
    position: relative;
    flex: 0 0 300px;
    border-right: 1px solid #e7e7e7;
    overflow-y: hidden;
}
.np{
    padding: 0; 
}
.image-container{
    position: relative;
    display: inline-block;
    margin: 8px 15px 0 0;
}
.profile-image{
    background-color: #e3e3e3;
    position: relative;
    font-size: 35px;
    line-height: 100%;
    width: 1em;
    height: 1em;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}
.user-info{
    width: 0;
    flex: 2 2 auto;
}
.username-box{
    display: flex;
    align-items: center;
}
strong{
    color: #0e0e0f;
    line-height: 30px;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.text-msg{
    color: #555;
    font-size: 13px;
    font-weight: 400;
    height: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
figure.action {
    padding-top: 12px;
    margin-bottom: 0;
}
.container-top-conversation > h5 {
    font-weight: 900;
    padding-top: 20px;
}
.timer {
    font-weight: 700;
    font-size: 20px;
    padding-right: 20px;
    text-align: center;
}
span.days {
    font-weight: 400;
    font-size: 12px;
}
.container-top-conversation {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
.box-timer {
    display: flex;
    padding: 7.5px 0;
}
figure.logout {
    width: 77px;
    height: auto;
    padding-top: 20px;
}
#top{
    border-bottom: 1px solid #e7e7e7;
}
.chat-panels{
    display: flex;
    position: relative;
    height: calc(100% - 70px);
}
.user-message{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    position: relative;
    padding: 0;
    box-sizing: border-box;
}
.content{
    overflow-y: scroll;
    overflow-x: hidden;
    /* padding: 100px 0 0; */
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 100px;
    height: 100%;
    top: 0;
    transform: translateY(0);
}
.detail-project{
    flex: 0 0 245px;
    height: 100%;
    border-left: 1px solid #e7e7e7;
    box-sizing: border-box;
    font-size: 14px;
    overflow-y: auto;
}
.message-wrapper{
    position: relative;
    padding-bottom: 5px;
}
.message .profile-image-link {
    height: 35px;
}
.message {
    display: flex;
    flex-shrink: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.message-content {
    flex: 1;
}
.header {
    /* margin-bottom: 5px; */
    display: flex;
}
.sender {
    color: #0e0e0f;
    font-size: 14px;
    font-weight: 600;
}
.time-send{
    color: #999;
    margin: 0 5px;
    font-size: 14px;
    font-style: italic;
}
.message-body {
    /* margin: 5px 0 -5px; */
    max-width: 540px;
    font-size: 14px;
    line-height: 145%;
    word-break: break-word;
    white-space: pre-line;
}
a.profile-image-link .profile-image {
    margin-right: 10px;
}
.conversation-footer {
    padding: 0 20px;
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    margin-bottom: 10px;
    top: -3px;
    /* position: relative; */
    display: flex;
    z-index: 2;
}
.message-box {
    background-color: #fff;
    border-radius: 5px;
    margin-top: 1px;
    width: 100%;
}
.message-uploader-container {
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    flex-shrink: 1;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    /* box-shadow: 0 1px 5px 0 rgba(0,0,0,.1); */
}
.message-container {
    width: 100%;
    overflow-y: hidden;
    padding: 15px;
}
.textarea-container{
    height: 16px;
    min-height: 0px;
    max-height: 192px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.textarea-container > textarea{
    color: #777;
    outline: none;
    resize: none;
    border-radius: 0;
    width: 100%;
    box-shadow: none;
    height: 100%;
    border: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
figure.clip {
    margin: 0;
    width: 65px;
    height: auto;
}
.send-action {
    position: relative;
}
.toggle {
    font-size: 9px;
    transform: translateY(-2px);
}
.button-link {
    background: none;
    border: 0;
}
.toggle i {
    padding: 8px 10px;
}
.link-action {
    color: #555;
}
.green {
    color: #00b22d;
}
.message-action {
    cursor: pointer;
    padding-right: 5px;
    font-size: 14px;
    font-weight: 700;
}
.send-green-box{
    display: flex;
    padding-top: 15px;
}
.about-project{
    
}


/* RESPONSIVE */

@media only screen and (min-width: 1160px){
}

@media only screen and (max-width: 600px)
{
    
}

@media only screen and (min-width: 768px)
{
    
}

@media only screen and (min-width: 1200px)
{
    
}