p{ margin: 0; }
.fs-14{
    font-size: 14px;
}
.ml-15{ margin-left: 15px; }
img.talwar-logo {
    width: 60px;
    height: auto;
}
.wrapper-header-right { padding-top: 36px; }
.box-of-logo { display: flex; }
#desc-logo{ 
    font-size: 12px;
    font-weight: 400; 
}
.blue-color, #logo-title, #desc-logo{ color: #0b3a51; }
.blue-bg{
    height: 34px;
}
#logo-title { 
    padding-top: 14px; 
    font-weight: 400;
}
.mail {
    width: 20px;
    height: auto;
}
.blue-bg{ 
    background-image: linear-gradient( #1F6A89, #0b3a51); 
    --webkit--background-image: linear-gradient( #1F6A89, #0b3a51); 
    --moz--background-image: linear-gradient( #1F6A89, #0b3a51); 
    --o--background-image: linear-gradient( #1F6A89, #0b3a51); 
    border-bottom: 1px solid #88DFFF;
}
a.nav-link {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 0px 15px !important;
}
.dropdown-item{
    font-size: 12px;
}
header {
    padding: 12px 0;
}
.bg-img{
    background-image: url("../assets/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0px;
    border-bottom: 3px solid #88DFFF;
}
.box-testimonial{
    display: flex;
}
img.user-image {
    width: 50px;
    height: auto;
    border-radius: 5px;
}
img.stars {
    width: 85px;
    height: auto;
    margin-top: -2px;
}
span.user-name {
    margin-left: 10px;
    font-size: 13px;
    font-weight: 900;
}
.box-testimonial {
    padding: 20px;
}
.text-wrapper-testimonial {
    padding-top: 12px;
}
p.desc-testimonial {
    font-size: 12px;
    padding-left: 10px;
    text-align: justify;
    padding-top: 12px;
}
.bg-slider{
    background-color: #0b3a51;
    border-top: 3px solid #88DFFF;
    border-bottom: 3px solid #88DFFF;
}
#customers-says{
    color: #88DFFF;
    font-weight: 900;
    text-align: center;
    margin-top: 25px;
}
.blue-name{
    color: #88DFFF;
    font-weight: 600;
    font-size: 20px;
    text-decoration: underline;
    padding-left: 50px;
}
.desc-slider{
    padding-top: 13px;
    color: #fff;
    padding-left: 50px;
}
.stars-slider{
    width: 120px;
    height: auto;
    margin-top: -4px;
}
.box-slider{
    padding: 20px 60px 80px 60px;
    display: flex;
}
.user-image-2{
    width: 70px;
    height: auto;
    border-radius: 5px;
}
img.icon-service {
    width: 60px;
    height: 50px;
}
p.title-service {
    font-weight: 400;
    font-size: 14px;
    color: #0b3a51;
}
.pt-20{
    padding-top: 20px;
}
.mright-8{
    margin-right: 8.333333%;
}
.bg-maps{
    background-image: url("../assets/maps.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.services {
    padding-bottom: 20px;
    border-bottom: 2px solid #88DFFF;
}
.info{
    background-color: #0b3a51;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.info-text{
    color: #88DFFF;
    font-weight: 900;
    padding: 15px 15px 15px 30px;
    font-size: 15px;
}
.info-contact{
    background-color: rgba(11, 58, 81, 0.8);
    padding: 15px;
}
span.fas.fa-home, span.fas.fa-phone {
    color: #fff;
    font-size: 30px;
}
.wrapper-home{
    display: flex;
}
.bl-txt{
    color: #88DFFF;
}
.addr-info{
    color: #fff;
    font-weight: 400;
}
.pd-bl{
    color: #88DFFF;
    padding: 10px 0;
    font-weight: 400;
}
.telp-info{
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}
.box-text-info{
    padding-left: 20px;
}
footer{
    background-color: #0b3a51;
}
.socmed {
    padding: 57px 0 35px 0;
}
.socially-title{
    color: #88DFFF;
}
.box-icon {
    margin-top: 6px;
}
img.socmed-icon {
    width: 25px;
    height: auto;
    margin-right: 10px;
    border-radius: 4px;
}
p.copyright {
    color: #fff;
    font-size: 11px;
    margin-top: 30px;
}
h6.title-link {
    color: #88DFFF;
    font-weight: 400;
    font-size: 18px;
    margin-top: 45px;
}
a.useful-link {
    font-size: 13px;
    color: #88DFFF;
    text-decoration: underline;
}
p.useful-link {
    margin-bottom: 12px;
}
.mrght-33{
    margin-right: 33.333333%;
}
p.info-services {
    font-weight: 900;
    padding: 15px 10px 10px 10px;
    text-align: center;
    color: #88DFFF;
    font-size: 15px;
}
.phone-num{
    padding-left: 5px;
}
.float-right{
    float: right !important;
}
h3#trust {
    color: #88DFFF;
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 35px;
    margin-top: 10px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    --webkit--text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    --moz--text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    --o--text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}
h4.desc-talwar {
    color: #fff;
    font-weight: 900;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    --webkit--text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    --moz--text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    --o--text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}
.wrapper-text {
    padding-bottom: 230px;
}
p.info-stars {
    font-weight: 900;
    padding: 15px 10px 10px 10px;
    color: #88DFFF;
    font-size: 15px;
    text-align: center;
}
.stars-info{
    width: 92px;
    height: auto;
    margin-top: -3px;
}

/* RESPONSIVE */

@media only screen and (max-width: 600px)
{
    .box-of-logo, .box-of-contact-info{
        width: 50% !important;
    }
    img.talwar-logo {
        width: 40px;
        height: auto;
    }
    #logo-title{
        font-size: 10px;
        padding-top: 13px;
    }
    #desc-logo{
        font-size: 5px;
    }
    .email, .phone-num{
        font-size: 6px !important;
    }
    .mail {
        width: 10px;
        height: auto;
        margin-top: 4px;
        margin-left: 0 !important;
    }
    .wrapper-header-right {
        padding-top: 15px;
    }    
    .float-right{
        float: none !important;
    }
    .navbar-toggler:not(:disabled):not(.disabled) {
        cursor: pointer;
        width: 35px;
        height: 17px;
        background: #fff;
    }
    .navbar-toggler-icon{
        font-size: 10px;
        margin-left: -8px;
    }
    h3#trust{
        font-size: 28px;
        margin-top: 25px;
        margin-bottom: 30px;
    }
    h4.desc-talwar {
        font-size: 18px;
        margin-bottom: 10px;
    }    
    .wrapper-text {
        padding-bottom: 94px;
    }
    .mrght-33{
        margin-right: 0 !important;
    }
    .offset-4{
        margin-left: 0 !important;
    }
    p.info-stars{
        font-size: 9px;
    }
    .stars-info {
        width: 74px;
        height: auto;
        margin-top: -1px;
    }
    .box-slider {
        padding: 20px 20px 50px 20px;
    }
    .blue-name{
        padding-left: 10px;
        font-size: 15px;
    }
    .desc-slider{
        padding-left: 10px;
        font-size: 12px;
        text-align: justify;
    }
    .stars-slider {
        width: 96px;
        height: auto;
        margin-top: -4px;
    }
    p.info-services{
        font-size: 9px;
    }
    p.title-service{
        font-size: 10px;
    }
    .info-text{
        font-size: 9px;
    }
    .offset-6{
        margin-left: 0 !important;
    }
    .info-contact{
        margin: 25px 0;
    }
    p.bl-txt, .addr-info, .pd-bl, .telp-info {
        font-size: 15px;
    }
}

@media only screen and (min-width: 768px)
{
    .email, .phone-num{
        font-size: 13px;
    }
    .wrapper-header-right {
        padding-top: 34px;
    }
    .float-right{
        float: none !important;
    }
    .navbar-toggler:not(:disabled):not(.disabled) {
        cursor: pointer;
        width: 35px;
        height: 17px;
        background: #fff;
    }
    .navbar-toggler-icon{
        font-size: 10px;
        margin-left: -8px;
    }
    h3#trust{
        font-size: 28px;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    h4.desc-talwar {
        font-size: 18px;
        margin-bottom: 10px;
    } 
    .wrapper-text{
        padding-bottom: 200px;
    }
    p.info-stars{
        font-size: 7px;
    }
    .stars-info {
        width: 65px;
        height: auto;
        margin-top: -2px;
    }
    span.user-name{
        font-size: 10px;
    }
    img.stars {
        width: 63px;
        height: auto;
        margin-top: -1px;
    }
    p.desc-testimonial{
        font-size: 11px;
    }
    p.title-service{
        font-size: 10px;
    }
    p.bl-txt, .addr-info, .pd-bl, .telp-info {
        font-size: 15px;
    }
}

@media only screen and (min-width: 1200px)
{
    .wrapper-header-right { padding-top: 36px; }
    .float-right{
        float: right !important;
    }
    h3#trust {
        font-size: 36px;
        margin-bottom: 35px;
        margin-top: 10px;
    }
    .wrapper-text {
        padding-bottom: 230px;
    }
    p.info-stars {
        font-size: 15px;
    }
    .stars-info{
        width: 92px;
        height: auto;
        margin-top: -3px;
    }
    img.stars {
        width: 85px;
        height: auto;
        margin-top: -2px;
    }
    span.user-name{
        font-size: 13px;
    }
    p.desc-testimonial{
        font-size: 12px;
    }
    p.info-services{
        font-size: 15px;
    }
    p.title-service{
        font-size: 14px;
    }
    .info-text{
        font-size: 15px;
    }
    p.bl-txt, .addr-info, .pd-bl, .telp-info {
        font-size: 16px;
    }
}

@media only screen and (max-width: 260px)
{
    p.info-stars {
        font-size: 5px;
    }
    .stars-info {
        width: 52px;
        height: auto;
        margin-top: -1px;
    }
    .box-testimonial {
        padding: 20px 0;
    }
    img.stars {
        width: 49px;
        height: auto;
        margin-top: 0px;
    }
    span.user-name{
        font-size: 11px;
    }
    p.desc-testimonial{
        font-size: 10px;
    }
    .box-slider {
        padding: 20px 0px 80px 0px;
        display: flex;
    }
    img.user-image {
        width: 45px;
        height: auto;
        border-radius: 5px;
    }
    .user-image-2 {
        width: 50px;
        height: auto;
        border-radius: 5px;
    }
    .blue-name {    
        font-size: 11px;
    }
    .stars-slider {
        width: 48px;
        height: auto;
        margin-top: 1px;
    }
    .desc-slider{
        font-size: 10px;
    }
}